body {
  background-color: pink;
  text-align: center;
}

h1 {
  color: purple;
}

.puri {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: auto;
  border: 5px solid hotpink;
}

.frame {
  width: 100px;
  height: 100px;
  border: 3px solid hotpink;
  display: inline-block;
  margin: 10px;
  line-height: 100px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  background-color: hotpink;
  color: white;
  border: none;
}
#puriFrame {
  width: 200px;
  height: 200px;
  border: 6px solid hotpink;
  margin: auto;
}
#camera {
  width: 100%;
  height: 100%;
  object-fit: cover; /* カメラ画面を枠いっぱいに表示 */
  border-radius: 5px;
}
